$white: #f5f5f5;

// Off-canvas
$offcanvas-background: #1e1e1e;
$offcanvas-shadow: 0;


// topbar
$topbar-background: #afbaca;


// button
$button-radius: 2px;
$button-color: #fff;

// table header
// $table-head-background: #f5f5f5;
// $table-border: 1px solid smart-scale(#fff, #ddd);


// Forms
$input-background: #fff;
