
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600|Poppins:500|Roboto:300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdn.jsdelivr.net/sweetalert2/6.3.2/sweetalert2.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.css);
// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/foundation-sites/scss/foundation.scss";
//@import "node_modules/sweetalert2/dist/sweetalert2.css";

@include foundation-everything(true);

body{
  font-family: 'Roboto', sans-serif;
}
.top-bar{
  margin-bottom: 20px;
}
.menu.vertical{
  padding: 0 5px;
}
.menu.vertical > li > a {

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #4D545D;
}
.menu  li > a {

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #4D545D;
}
.menu  li > a:hover {

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #ddd;
}
.menu.vertical > li > a:hover{
  background-color: whitesmoke;
  color: #00d1b2;
  border-radius: 2px;
}

.sidebarHeader{
    padding: 0.5rem;
    font-family: 'Raleway';
    background: #798ca7;
    display: flex;
    align-items: center;
    height: 51px;
    color: #ddd;
    margin-bottom: 5px;
}

.is-Header{
  font-size: 1.0em;
  font-family: 'Poppins', sans-serif;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #4D545D;
}

.button.is-link {
    background-color: transparent;
    border-color: transparent;
    color: #4a4a4a;
    text-decoration: underline;
}

// table {
//     border-collapse: collapse;
// }
// thead {
//     /* background: #ddd; */
//     color: #0a0a0a;
//     border-bottom: 5px solid #ddd;
// }
.card{
  border-radius: 2px;
  border: 0px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.card-section{
  background: #fff;
  .button{
    margin: 0;
  }
}
.is-underline{
  border-bottom: 1px solid #f9f2f2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    input{
      margin-bottom: 0;
      padding-bottom: 0px
   }
}

.booking-sidebar{
  background-color: #1C72E0;
  color: #fff;
  font-size: 0.8em;
  h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: .9em;
    color: #fff;
  }
  .content{
    padding: 10px;
  }
}
.booking-content{

  h2{
    font-size: 0.99em;
    font-family: 'poppins';
  }
  .dates :hover{
      background: #f3f3f3;

  }
  .weeklyCalendar{
    background: rgba(236, 236, 236, 0.24);

    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
      .dates .dayName{

        font-size: 0.7rem;
        font-weight: 400;
        text-transform: uppercase;
        font-family: 'Raleway';
        font-weight: 400;
        color: #abaaaa;
        margin-top: -5px;



      }
      .dates .dayNumber{

      }
      .dates .dayNumber {
        font-family: 'Raleway';
        font-size: 1.7rem;
        color: #abaaaa;
      }



  }
  .has-small-text{
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
.timeslot{
  background: #1C72E0;
  padding-left: 14px;
  border-radius: 2px;
  margin: 3px;
  font-family: 'Roboto';
  font-size: 0.8em;
  color: #fff;
  height: 40px;
}
.timeslots .callout{
  background: rgba(233, 230, 236, 0.16);
  border-radius: 2px;
  color: #d48585;

}

}

.has-top-margin{
  margin-top: 25px;
}
